
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
}

.contenedor {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #ee6262;
  color: #000000;
  padding-top: 20px;
  min-height: 70px;
}

header h1 {
  float: left;
}

.proyectos {
  text-align: center;
}

nav ul {
  float: right;
  list-style: none;
  margin-top: 25px;
}

nav ul li {
  display: inline;
  padding: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px 0;
}

section h2 {
  margin-bottom: 20px;
}

footer {
  background: #ee6262;
  color: #000000;
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: fixed;
}

/*LO DEMAAAAAAAAAS*/

.parrafo {
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: red;
  font-size: large;
  font-weight: 500;
}

.ejemplo1 {
  border: 1px solid black;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.opciones {
  color: blue;
  text-align: center;
  font-style: oblique;
  font-weight: 700;
}

#button {
  background-color: aqua;
  border: none;
  font-size: 30px;
  width: 500px;
  padding: 20px;
  color: black;
}

.texto {
  color: black;
}

a:hover {
  color: black;
}
